<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="margin-left: 3%;">
      Booking.com
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="/setup">Settings</a>
      </li>
      <li>
        <a routerLink="about">Contact</a>
      </li>
      <li>
        <a routerLink="admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
